version: "3.9"

services:
  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    container_name: client
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:3000"
    depends_on:
      - backend
    networks:
      - fullstack-net
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
